/* animation carousel */
@keyframes slideIn3D {
    0% {
        opacity: 0;
        transform: perspective(1000px) rotateX(-180deg) scale(0.8);
    
    }
    100% {
        opacity: 1;
        transform: perspective(1000px) rotateX(0deg) scale(1);
    }
}

.animate-3d-entry {
    animation: slideIn3D 0.8s ease-out forwards;
    transform-style: preserve-3d;
}

/* animation carousel */