@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body {
    font-family: "Roboto";
    overflow-x: hidden;
    @apply text-secondary;
}

p {
    @apply mb-4;
}

@theme {
    --color-primary: #ffc045;
    --color-secondary: #3d2514;
    --color-red-primary: #bf2222;
    --color-primary-hover: #f5b029;
    --color-secondary-hover: #231105;
    --color-red-primary-hover: #990e0e;

    /* font */
    --font-secondary: "Alfa Slab One";

    /* spacing */
    --spacing-17: '4.25rem',
        --spacing-18:'4.50rem',
        --spacing-19:'4.75rem',
}

.animate {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.shadowTitleSecondary {
    text-shadow: 3px 3px #fee7ba;
}

